<br/>
<h3>{% block title %} Find Dependency Collisions Between NPM Packages {% endblock %}</h3>
<form action="/dependancy/" method="GET">
  <label for="title">Packages</label>
  <br />
  <div class="row">
    <div class="col">
        {% if condition %}
        <input type="text" class="form-control" name="package-a"  placeholder="Package" value={{packageA}} />
    {% else %}
    <input type="text" class="form-control" name="package-a"  placeholder="Package" />
    {% endif %}
      
    </div>
    <div class="col">
    
      <input type="text" class="form-control" name="package-a-version" placeholder="Version" />
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col">
    
      <input type="text" class="form-control" name="package-b"  placeholder="Package" />
    </div>
    <div class="col">
    
      <input type="text" class="form-control" name="package-b-version"  placeholder="Version" />
    </div>
  </div>
  <br />
  <button class="btn btn-block btn-secondary" type="submit">Submit</button>
</form>
